DATABASE_URL="postgresql://postgres.[PROJECT_ID]:[PASSWORD]@aws-1-eu-central-1.pooler.supabase.com:5432/postgres?sslmode=require"
NEXT_PUBLIC_ADDRESS="Via R. Ruffino, 9, 90049 Terrasini PA"
NEXT_PUBLIC_PHONE="+39 379 267 5864"
NEXT_PUBLIC_WHATSAPP_NUMBER="+39 379 267 5864"
NEXT_PUBLIC_WHATSAPP_URL="https://wa.me/393792675864"
NEXT_PUBLIC_EMAIL="Mancia e statti zitto da Sasà@gmail.com"
NEXT_PUBLIC_FACEBOOK_URL="https://www.facebook.com/..."
NEXT_PUBLIC_INSTAGRAM_URL="https://www.instagram.com/..."
NEXT_PUBLIC_MAPS_URL="https://maps.app.goo.gl/2ZQ74WrGo7Xe3bEBA?g_st=ic"









